#consent-bin {
    margin: 40px;
    font-size: 16px;
    font-family: "Times New Roman", Times, serif;
}

#consent-button {
    background-color: white;
    color: black;
    border: 2px solid black;
    padding: 10px 20px;
    margin: 4px 2px;
    text-align: center;
    font-size: 16px;
    font-family: "Times New Roman", Times, serif;
}
#consent-button:hover {
    background-color: black;
    color: white;
    font-size: 16px;
}

#experiment-container {
    font-family: 'Average Sans';
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

#message-container {
    font-size: 28px;
    font-style: italic;
    text-align: center;
}

#game-container {
    text-align: center;
}

#game-banner {
    font-size: 20px;
    padding: 8px;
}

#round-text, #round-index, #time-text, #countdown {
    display: inline-flex;
}

#client-info {
    width: 400px;
    float: left;
}

#client-header {
    font-size: 28px;
    text-decoration: underline;
}

#client-points-update {
    font-size: 24px;
    font-weight: bold;
    padding: 4px;
}

#client-points-total {
    font-size: 20px;
    font-style: italic;
    padding: 4px;
}

#client-body {
    padding: 10px;
}

#opponent-info {
    width: 400px;
    float: right;
}

#opponent-header {
    font-size: 28px;
    text-decoration: underline;
}

#opponent-points-update {
    font-size: 24px;
    font-weight: bold;
    padding: 4px;
}

#opponent-points-total {
    font-size: 20px;
    font-style: italic;
    padding: 4px;
}

#opponent-body {
    padding: 10px;
}

.move-button {
    height: 100px;
    width: 100px;
}

.move-button-container{
    height: 100px;
    width: 100px;
    padding: 5px;
    display: inline-flex;
    border: 5px solid transparent;
}

.move-button-container:hover {
    background:gray;
}

.opponent-move {
    height: 100px;
    width: 100px;
    padding: 5px;
    display: inline-flex;
    border: 5px solid transparent;
}

.opponent-move-img {
    height: 100px;
    width: 100px;
}

#next-round {
    background-color: white;
    color: black;
    border: 2px solid #4CAF50;
    font-size: 20px;
    padding: 10px 20px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
}

#next-round:hover {
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
}

#schematic-img {
    width: 300px;
    padding: 20px;
}
