#experiment-container {
    font-family: 'Average Sans';
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    font-size: 20px;
}

#message-container {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    font-size: 28px;
    font-style: italic;
    text-align: center;
}

#game-container {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#game-banner {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    text-align: center;
}

#round-text, #round-index, #time-text, #countdown {
    display: inline-flex;
}

#client-info {
    width: 250px;
    float: left;
}

#client-header {
    width: 250px;
    font-size: 28px;
}

#client-points-update {
    width: 250px;
    font-size: 20px;
}

#client-points-total {
    width: 250px;
    font-size: 20px;
}

#opponent-info {
    width: 250px;
    float: right;
}

#opponent-header {
    font-size: 28px;
}

#opponent-points-update {
    width: 250px;
    font-size: 20px;
}

#opponent-points-total {
    width: 250px;
    font-size: 20px;
}

#game-info {
    width: 500px;
    text-align: center;
}

.move-button {
    height: 50px;
    width: 50px;
}

.move-button-container{
    height:50px;
    width: 50px;
    padding: 5px;
    display: inline-flex;
    border: 5px solid transparent;
}

.move-button-container:hover {
    background:gray;
}

.opponent-move {
    height: 50px;
    width: 50px;
    padding: 5px;
    display: inline-flex;
    border: 5px solid transparent;
}

.opponent-move-img {
    height: 50px;
    width: 50px;
}

#exp-button-container {
    text-align: center;
    width: 500px;
}

#next-round {
    background-color: white;
    color: black;
    border: 2px solid #4CAF50;
    font-size: 20px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
}

#next-round:hover {
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
}

#schematic-img {
    width: 300px;
    padding: 20px;
}
